.hamburger-menu {
  position: relative;
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid rgb(186, 186, 186);
  overflow: hidden;
}

.hamburger-menu-opened {
  position: relative;
  width: 98%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid rgb(186, 186, 186);
  overflow: visible;
}

.hamburger-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  padding: 0;
  background-color: transparent;
  position: relative;
  z-index: 2;
  transition: 0.4s;
}

.hamburger-icon.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.bar {
  background-color: #333;
  height: 4px;
  width: 100%;
  transition: 0.4s;
}

.menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 20%;
  min-width: 260px;
  background: #fff2d8;
  border-radius: 14px;
  list-style: none;
  padding: 40px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  border: 5px solid #4a2d00;
}

.menu.open {
  right: 0;
}

.menu li {
  margin: 15px 0;
  font-size: 16px;
  color: #4a2d00;
  text-align: center;
}

.nav-link {
  font-size: 20px;
  width: 100%;
}

.block {
  color: #4a2d00;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 6px;
}

.block:hover {
  border-bottom: 1px solid #4a2d00;
  cursor: pointer;
}

.block img {
  color: #4a2d00;
  width: 20px;
}
